
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Poppins:wght@500&display=swap');

body{
    background-color: #AAAAAA;
    font-family: 'Lobster Two', cursive;
font-family: 'Poppins', sans-serif;
}
.container{
    background-color: #ffff;
    margin-left: 50px;

    margin-right: 50px;
    padding-right: 50px;
    padding-left: 50px;
}
.navbar{
    display: flex;
align-items: center;
justify-content: space-between;
}
.nav ul{
    display: flex;
  
    
    
}
.nav ul li{
    margin: 20px;
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
}
.main{
display: flex;
justify-content: space-between;

}
.text-area{
    
}

.button a{
    text-decoration: none; 
    color: #fff;
  font-size: 25px;
   
   
  }
  .button{
      background-color: #E02C6D;
      height: 44px;
      width: 196px;
      border-radius: 20px;
      text-align: center;
      color: #fff;
   
     
  }
  .fa-arrow-right{
      font-size: 20px;
  }
  
  .imgage-area{
     width: 75%; 
  }
  
  .img{width: 440px;
      height: 414px;
      background-image: url(images/Circle\ design.svg);
      
   
  }
  .img:hover{
      transform: rotate(360deg) ;
      transition: transform,1s ease-in-out ;
  }
  
  hr{
      border: 1px solid gray;
      margin-top: 100px;
  }
  /*--------Here logo section------*/
  .popular-collection{
      margin-top: 100px;
  }
  
  .part1, .part2, .part3{
    background-color: honeydew;
    box-shadow: 1px 1px gray;
    border-radius: 5px;
    align-items: center;
    
}
.card{
    padding: 50px;
    
}
.card:hover{
    background-color: gray;
}
.logo{
   display: flex;
   justify-content: space-between;
   align-items: center;

}
.fa-star{
    color: orange;
    
}
.banner img{
    border-radius: 5px;
}
 .title{
    text-align: center;
   
}
.main-div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:50px ;
    grid-row-gap: 20px;
}
/*----------------
Contact me part
------------------*/
.contact-part{
margin-top: 100px;
background-color: rgb(252, 238, 192);
padding: 20px;
border-radius: 10px;

}










